<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <strong class="navbar-brand" routerLink="">Your Happy Home Services</strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" routerLink=""  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="menu" routerLinkActive="active-link">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link" href="../contact/contact.component.html" >Contact Us</a>
        </li>
      </ul>
    </div> 
    <div class="top-btn"><button type="button" class="btn btn-warning btn-lg">AppointMent</button></div>
  </div>

</header>